<mat-card>
  <mat-card-content>
    <div class="about-container">
      <h1>About Deluxe Vision</h1>
      <p>
        Deluxe Vision is a website created for a school project by Ahmet Ozer and Shahram Nasir.
        Our goal was to create an online shopping platform with a modern and responsive design.
      </p>
      <p>
        We designed this website using Angular and Angular Material for the front-end, and Firebase
        for the back-end. Our vision was to create a seamless shopping experience for our users,
        with an easy-to-use interface and efficient database management.
      </p>
      <p>
        We hope you enjoy using Deluxe Vision as much as we enjoyed creating it!
      </p>
      <h2>Our Team</h2>
      <p>
        Ahmet and Shahram are both computer science students at York University. They both have a
        passion for web development and worked together to create Deluxe Vision for their school
        project. Shahram is responsible for the front-end development and design, while Ahmet
        focused on the back-end and database management.
      </p>
      <h2>Technologies Used</h2>
      <ul>
        <li>Angular</li>
        <li>Angular Material</li>
        <li>Bootstrap</li>
        <li>HTML</li>
        <li>CSS</li>
        <li>TypeScript</li>
      </ul>
      <br>
      <h2>Future Plans</h2>
      <p>
        We plan on expanding Deluxe Vision to include more products and categories. We also want to
        implement features such as user reviews and ratings, and a recommendation engine. Our goal
        is to create a platform that provides a personalized shopping experience for each user.
      </p>
    </div>
  </mat-card-content>
</mat-card>
