mat-card {
    margin: 0 auto;
    max-width: 1200px;
    padding: 20px;
}

img {
    max-width: 300px;
    margin: 20px;

}

.cart-container {
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

.cart-item-details > span {
    font-size: 18px;
    text-align: center;
}

.checkoutForm{
    text-align: center;
}
