/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css?family=Open+Sans");

html,
body {
    height: 100%;
    background-image: linear-gradient(to right, #2e22ac, #a23da1);

}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-image: linear-gradient(to right, #2e22ac, #a23da1);

}