<mat-toolbar id="mainNav">
  <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="10px" fxFlex>
    <div fxLayoutAlign="start center" fxLayoutGap="50px">
      <div class="mainNavTitle">
        <button mat-button routerLink="home">Deluxe Vision</button>
      </div>
      <button mat-button routerLink="about">About</button>
      <button mat-button routerLink="product">Shop</button>
    </div>
    <div fxLayoutAlign="end center">
      <button mat-button routerLink="login">
        <i class="fas fa-user"></i>
      </button>
    </div>
  </div>
</mat-toolbar>
