<mat-toolbar id="mainNav">
    <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="10px" fxFlex>
        <div fxLayoutAlign="start center" fxLayoutGap="10px">
            <div>
                <button mat-button>
              <a routerLink="home">
                <mat-icon>
                  <img class="icon" src="https://www.w3.org/html/logo/badge/html5-badge-h-css3-semantics.png">
                </mat-icon>
              </a>
                </button>
            </div>

            <div class="mainNavTitle">
                Deluxe Vision
            </div>
        </div>
    </div>
</mat-toolbar>